
// Body
$body-bg: #ffffff;

// Typography
$font-primary: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-color: #EB008B;
$secondary-color: #db0280;

@mixin fontstyle( $weight, $stretch, $style, $spacing )
{
  font-weight: $weight;
  font-stretch: $stretch;
  font-style: $style;
  letter-spacing: $spacing;
}
